* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 1400px;
  max-width: 80%;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.green {
  color: #4bc800;
}

.debug {
  background-color: tomato;
  border: 1px solid white;
}

body {
  background-color: black;
  color: white;
  height: 100vh;
  width: 100%;
}

.btn {
  color: white;
  background-color: grey;
  padding: 5px 5px;
  border-radius: 5px;
  height: 10px;
  margin-left: 8px;
}

a {
text-decoration: none;
color: white;
line-height: 100%;
}

/* Topbar */

.topbar {
  height: 70px;
  justify-content: end;
}

.settings {
  padding-top: 10px;
  padding-right: 10px;
}


/* Main */

.cam {
  height: calc(100vh - 150px);
  overflow: auto;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 30vh;
  height: 15vh;
  margin:  10px;
  position: relative;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.name {
  background-color: rgba(0, 0, 0, .4);
  padding: 5px 5px;
  position: absolute;
  left: 0;
  bottom: 2px;
}

/* Bottombar  */

.bottom-bar {
  height: 80px;
  min-width: 1200px;
}

.icons {
  width: 50%;
  height: 100%;
}

.media,.exit {
  width: 25%;
  height: 100%;
}

.media a i {
  font-size: 1.3rem;
  display: block;
  padding: 0 20px 5px;
}

.media {
  align-items: center;
  text-align: center;
}

.icons .icon a .info{
  font-size: .8rem;
}

.icons a i{
  font-size: 1.3rem;
  display: block;
  padding: 0 20px 5px;
}

.icons {
  align-items: center;
  justify-content: center;
}

.icon {
  text-align: center;
}

.exit {
  justify-content: end;
  
}

.button {
  width: 100px;
  height: 100%;
  background-color: rgb(50, 50, 50);
  align-items: center;
  justify-content: center;
  color: red;
}

.bottom-bar {
background-color: rgb(30, 30, 30) ;
}


