* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 1400px;
  max-width: 90%;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.debug {
  background-color: tomato;
  border: 1px solid white;
}

body {
  background-color: black;
  color: white;
  height: 100vh;
  width: 100%;
}

.btn {
  color: white;
  background-color: grey;
  padding: 5px 5px;
  border-radius: 5px;
  height: 10px;
  margin-left: 8px;
}

a {
text-decoration: none;
color: white;
}

/* Topbar */

.topbar {
  height: 70px;
  justify-content: end;
}

.settings {
  padding-top: 10px;
  padding-right: 10px;
}


/* Main */

.cam {
  height: calc(100vh - 150px);
  overflow: auto;
  flex-wrap: wrap;
}

.card {
  width: 40vh;
  height: 30vh;
  position: relative;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.name {
  background-color: rgba(0, 0, 0, .2);
  position: absolute;
  left: 0;
  bottom: 2px;
}

/* Bottombar  */

.bottom-bar {
  height: 80px;
}